body{
  background-color: black;
    
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  
  .login > img {
    height: 200px;
    padding: 100px;
  }
  
  .login > a {
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 99px;
    font-weight: 800;
    background-color: #1db954;
  }
  